

@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ewert&family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cardo:ital,wght@0,400;0,700;1,400&family=Ewert&family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Spicy+Rice&display=swap');

body {
    font-size: 10px;
    font-family: 'Cardo';
}

//type
h1 {
    font-family: 'Aboreto';
    font-size: 10px;
    color: hotpink;
}

h2 {
    font-family: 'Cardo', serif;
    font-size: 45px;
    font-weight: 700;
    color: hotpink;
}

h3 {
    font-family: 'Cardo';
    font-size: 33px;
    font-style: italic;
}

h4 {
    font-family: 'Cardo';
    font-size: 30px;
    font-weight: 700;
}

h5 {
    font-family: 'Cardo';
    font-size: 24px;
    font-style: italic;
}

p {
    font-family: 'Cardo';
    font-size: 16px;
    line-height: 30px;
}

a {
    font-family: 'Cardo';
    color:#131A1D;
    text-decoration: none;

}

.btn {
    font-family: 'Cardo';
    border-radius: 35px;
}




//colors
$primary: #BBCBD3;
$dark: #131A1D;
$light: #E9E0D2;

@import "../node_modules/bootstrap/scss/bootstrap";